<div class="container">
    <div class="row mt-5">
        <div class="col-md-9 m-auto">
            <% include ./partials/messages %>
            <div class="shadow-sm border p-4 mb-4 bg-white text-secondary rounded-lg profile" id="question">
                <b>List of Your Questions:</b>
                <a href="/addquestion" class="btn btn-outline-info float-right">Add Question</a>
                <br><br>
                <% if(typeof questions != 'undefined'){ %> 
                    <% questions.forEach(function(question) { %>
                        <a href="/reply/<%= question._id %>" class="text-secondary">Q. <%= question.question %></a>
                        <a href="/editquestion/<%= question._id %>" class="text-success"><i class="far fa-edit"></i></a>
                        <a href="/deletequestion/<%= question._id %>" class="text-danger pl-2"><i class="fas fa-trash-alt"></i></a><br>
                    <% }); %> 
                <% } %> 
                <% if(questions.length == 0) { %>
                    No Question published..
                <% } %>
            </div>
        </div>
    </div>
</div>
