<div class="container pt-2">
    <div class="row mt-5">
        <div class="col-md-9 m-auto">
            <div class="shadow-sm p-4 border mb-3 bg-white text-secondary rounded-lg">
                <div class="row">
                    <div class="col-md-6">
                            <img src="/uploads/<%= data.profile_image %>" class="mx-auto d-block rounded-circle" width="230" height="230">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h2 class="text-info"><%= data.firstname+' '+data.lastname%></h2><br> 
                        <p><span class="text-info">Email : </span><%= data.email%></p>
                        <p><span class="text-info">Joined Since :</span><br><%= data.date%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>