<div class="container">
<div class="row mt-5">
  <h1 class="display-3 text-">Techono Forum!</h1>
  <p>Techono Forum's mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would be valuable to many people is currently only available to a few — either locked in people’s heads, or only accessible to select groups</p>
  <p><a class="btn btn-info btn-lg" href="/users/register" role="button">Get Started &raquo;</a></p>
</div>
</div>
<footer class="container">
  <p>&copy; Techono Forum 2019-2020</p>
</footer>

